/* color */
$text: #333333;
$text-l: #34495E;

$bg: #ECF0F1;

$basic: #2980B9;
$extra: #16A085;
$warn: #E67E22;
$danger: #E74C3C;

$border: #95A5A6;

/* font family */
$ff-base: "Roboto", sans-serif;
$ff-title: "Lato", sans-serif;

/* font-size */
$fs: 16px;